[submodule "tools/monitor"]
	path = tools/monitor
	url = git@github.com:sckomoroh/ros2_topic_monitor.git
	branch=develop
[submodule "src/bringup"]
	path = src/bringup
	url = git@github.com:sckomoroh/ros2_bot_bringup.git
	branch = develop
[submodule "src/description"]
	path = src/description
	url = git@github.com:sckomoroh/ros2_bot-description.git
	branch = develop
[submodule "src/navigation"]
	path = src/navigation
	url = git@github.com:sckomoroh/ros2_bot_navigation.git
	branch=develop
[submodule "src/rviz2_plugins/rviz_reconfigure_plugin"]
	path = src/rviz2_plugins/rviz_reconfigure_plugin
	url = git@github.com:sckomoroh/ros2_bot_rviz2_reconfigure_plugin.git
	branch = develop
[submodule "src/rviz2_plugins/monitor_rviz2_plugin"]
	path = src/rviz2_plugins/monitor_rviz2_plugin
	url = git@github.com:sckomoroh/ros2_bot_rviz2_monitor_plugin.git
	branch = develop	
[submodule "src/hardware_drivers/lidar_driver_node"]
	path = src/hardware_drivers/lidar_driver_node
	url = git@github.com:sckomoroh/ros2_bot_ldlidar_stl_ros2.git
	branch = develop
[submodule "src/hardware_drivers/motors_driver_node"]
	path = src/hardware_drivers/motors_driver_node
	url = git@github.com:sckomoroh/ros2_bot_motor_hw.git
	branch = develop
[submodule "src/hardware_drivers/mpu_driver_node"]
	path = src/hardware_drivers/mpu_driver_node
	url = git@github.com:sckomoroh/ros2_bot_mpu6050_driver.git
	branch = develop	
